.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-checkbox {
  margin-bottom: 16px;
}

button {
  display: block;
}

mat-table {
  margin-top: 20px;
  width: 100%;
}

.table-container {
  overflow-x: auto;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 16px;
  margin-top: 20px;
}

mat-cell, mat-header-cell {
  color: white !important;
}

mat-row:hover {
  background: rgba(139, 41, 41, 0.1);
}

mat-cell {
  display: flex;
  flex-wrap: wrap;
}

.date-range-info {
  color: rgb(255 142 142 / 54%) !important;
  font-size: 14px;
  margin-bottom: 16px;
}

button[mat-raised-button] {
  margin-bottom: 20px;
}
.mobile-label{
  display: none !important;
}
@media (max-width: 920px) {
  .mobile-label{
    display: flex !important;
  }
  mat-header-cell, mat-cell {
    padding: 8px;
    font-size: 12px;
  }

  mat-header-cell {
    white-space: nowrap;
  }

  mat-cell {
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
  }

  mat-row {
    display: block;
  }

  mat-header-row {
    display: none;
  }

  mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 8px;
  }
}
