.login-container {
  max-width: 400px;
  margin: 10% auto;
  padding: 20px;
  background: rgba(51 51 51 / 10%);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container form div {
  margin-bottom: 15px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

.login-container input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 5px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #8b2929;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-container button:hover {
  background-color: #a13232;
  transform: translateY(-2px);
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 150px;
  height: auto;
}
